<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Sunshine
    link(rel="stylesheet", href="style.css")
  body
  .sun
    - for (var ray = 1; ray <= 60; ray++)
      .ray


