$size: 30vmin;
$colors: (
  0: rgb(235, 242, 89),
  1: rgb(227, 103, 0),
  2: rgb(229, 154, 39),
  3: rgb(242, 197, 89),
  4: rgb(243, 238, 234)
);
@function color($color) {
  @return map-get($colors, $color);
}

.picture {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 100vh;
  padding-right: 100px;
  padding-top: 50px;
}

.sun {
  position: relative;
  width: $size;
  height: $size;
  border-radius: 100%;
  background-color: color(0);
  box-shadow: inset color(4) 0 0 0 $size / 7;
  animation: shimmer 6s ease alternate infinite;
}

.ray {
  position: absolute;
  top: 0;
  left: $size / 2;
  width: $size / 40;
  height: $size / 8;
  transform-origin: 0 ($size / 2);
  transform: translateY(#{$size / 2});
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: color(1);
  }
  &:before {
    height: 20%;
    border-radius: 100%;
    transform-origin: 50% 0;
    animation: flare 1.6s linear infinite;
  }
  &:after {
    height: 100%;
    transform-origin: 50% 100%;
    animation: move 0.8s linear alternate infinite;
  }
  &:nth-child(even) {
    &:before,
    &:after {
      background-color: color(2);
    }
  }
  &:nth-child(3n + 1) {
    &:before,
    &:after {
      background-color: color(3);
    }
  }
  @for $i from 1 through 60 {
    &:nth-child(#{$i}) {
      transform: rotate(#{(6 * $i)}deg);
      &:before,
      &:after {
        animation-delay: -0.33s * $i;
      }
    }
  }
}

@keyframes move {
  0% {
    transform: scale(1, 0.5);
  }
  50% {
    transform: scale(1.2, 1.5) translateY(5%);
  }
  100% {
    transform: scale(0.8, 2);
  }
}

@keyframes flare {
  0% {
    opacity: 0;
    transform: scale(0.2) translateY(#{-$size / 12});
  }
  100% {
    opacity: 1;
    transform: scale(0.8) translateY(#{-$size / 6});
  }
}

@keyframes shimmer {
  to {
    transform: rotate(5deg) scale(0.96);
  }
}

//sea
// best seen at 1500px or less
html,
body {
  height: 100%;
}

body {
  background: radial-gradient(rgb(204, 230, 255) 35%, #b7e8eb 100%);
  overflow: hidden;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

//cloud
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateCloud 35s linear infinite;
  -moz-animation: animateCloud 35s linear infinite;
  animation: animateCloud 35s linear infinite;
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.5);
}

.x2 {
  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

/* OBJECTS */

.cloud {
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #fff),
    color-stop(100%, #f1f1f1)
  );
  background: -webkit-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -o-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -ms-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1', GradientType=0);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after,
.cloud:before {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.cloud:after {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.cloud:before {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}
